
/* Header/Nav content */
header {
  display: flex;
  background-color: #033048;
  align-content: center;
  justify-content: space-between;
  height: 128px;
}
h1 {
  color: #ffffff;
  padding-left: 80px;
  font-size: 48px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  padding-right: 80px;
}
nav a {
  text-decoration: none;
  color: #f9e42e;
  font-size: 24px;
  font-family:"Open Sans", sans-serif;
}

/* Main body/content */
#content {
  display: flex;
  padding-left: 80px;
  background-color: #f0efef;
  color: #606161;
  padding-top: 40px;
  padding-bottom: 80px;
}
#left {
  width: 700px;
}
.How {
  border-bottom: solid 1px;
}
h2 {
  font-size: 36px;
  color: #033048;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.image {
  background-image: url("../images/blog_photo1.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
}
.text {
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 24px;
  font-family: "Open Sans", open, sans-serif;
}
.moreText1 {
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 24px;
  font-family: "Open Sans", open, sans-serif;
}
.moreText2 {
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 24px;
  font-family: "Open Sans", open, sans-serif;
}
span {
  color: #0606161;
  font-size: 72px;
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.iTraveled {
  margin-top: 56px;
  border-bottom: solid 1px;
}
.readMore1 {
  padding-top: 16px;
  padding-bottom: 24px;
  margin-bottom: 24px;
  text-align: right;
  font-size: 24px;
  font-family: "Open Sans", open, sans-serif;
  font-weight: 600;
  color: #2b4657;
  display: flex;
  justify-content: flex-end;
}
.readLess1 {
  padding-top: 16px;
  padding-bottom: 24px;
  margin-bottom: 24px;
  text-align: right;
  font-size: 24px;
  font-family: "Open Sans", open, sans-serif;
  font-weight: 600;
  color: #2b4657;
  display: flex;
  justify-content: flex-end;
}
.readMore2 {
  padding-top: 16px;
  padding-bottom: 24px;
  margin-bottom: 24px;
  text-align: right;
  font-size: 24px;
  font-family: "Open Sans", open, sans-serif;
  font-weight: 600;
  color: #2b4657;
  display: flex;
  justify-content: flex-end;
}
.readLess2 {
  padding-top: 16px;
  padding-bottom: 24px;
  margin-bottom: 24px;
  text-align: right;
  font-size: 24px;
  font-family: "Open Sans", open, sans-serif;
  font-weight: 600;
  color: #2b4657;
  display: flex;
  justify-content: flex-end;
}
#right {
  max-width: 240px;
  font-family: 'Open Sans', sans-serif;
  padding-left: 24px;
}
#categories {
  padding-bottom: 24px;
}
h3 {
  color: #033048;
  font-size: 30px;
  font-weight: 700;
}
li {
  font-size: 24px;
  color: #033048;
  list-style: none;
}
.About-text {
  font-size: 18px;
}
.LearnMore {
  font-size: 22px;
  color: #033048;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
.More3 {
  font-size: 18px;
}
.adUnit {
  background-image: url("../images/ad-unit.png");
  background-size: cover;
  margin-top: 40px;
  height: 500px;
  width: 240px;
}


/* Yellow bar */
.yellowDivider {
  background-color: #f9e42e;
  height: 80px;
  text-align: center;
  padding: 24px;
}
#signup {
  width: 216px;
  height: 48px;
  font-family: "Open Sans", open, sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
  background-color: #033048;
  border-style: none;
  border-radius: 5px;
}


/* Footer */
footer {
  font-family: "Open Sans", open, sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #f9e42e;
  top: 20px;
  background-color: #121212;
  padding-top: 32px;
  text-align: center;
}
footer img {
  padding-left: 16px;
  padding-right: 16px;
}
.copyright {
  font-size: 9px;
  color: white;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: normal;
}
